name: CI Build and Test

on:
  push:
    branches: [ main, next, '+([0-9])\.+([0-9])\.x-maintenance' ]
  pull_request:
    branches: [ main, next, '+([0-9])\.+([0-9])\.x-maintenance' ]

defaults:
  run:
    shell: bash

jobs:
  build_docker:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.meta.outputs.tags }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/firebolt-native-transport-ci
          tags: type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: .github/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=${{ github.workflow }}
          cache-to: type=gha,mode=max,scope=${{ github.workflow }}

  format_check:
    permissions:
      contents: read
      packages: read
    needs: [build_docker]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run clang-format check
        run: |
          docker run --rm -v ${{ github.workspace }}:/workspace ${{ needs.build_docker.outputs.image_tag }} \
            bash -c "git ls-files -- '*.cpp' '*.h' | xargs clang-format --dry-run --Werror"

  build_project:
    permissions:
      contents: read
      packages: read
    needs: [build_docker]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get version
        run: |
          VERSION=$(git describe --tags --dirty --match "v[0-9]*")
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "version: $VERSION"

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure Project
        run: |
          docker run --rm --user "$(id -u):$(id -g)" -v ${{ github.workspace }}:/workspace ${{ needs.build_docker.outputs.image_tag }} \
            bash -c " \
              cmake -B build -S . \
                  -DCMAKE_BUILD_TYPE=Debug \
                  -DENABLE_TESTS=ON \
            "

      - name: Build Project
        run: |
          docker run --rm --user "$(id -u):$(id -g)" -v ${{ github.workspace }}:/workspace ${{ needs.build_docker.outputs.image_tag }} \
            bash -c "cmake --build build"

      - name: Run Unit Tests
        run: |
          docker run --rm --user "$(id -u):$(id -g)" -v ${{ github.workspace }}:/workspace ${{ needs.build_docker.outputs.image_tag }} \
            bash -c "ctest --test-dir build/test"

      - name: Make Release package of Transport sources
        run: |
          ./.github/scripts/mk-release-package.sh \
            --version ${{ env.VERSION }} \
            --package firebolt-native-transport \
            --dst ${{ github.workspace }}/release

      - name: Upload Transport package as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: release
          path: ${{ github.workspace }}/release
